::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(91, 196, 102);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #000000d0;
    border-radius: 10px;
}

@font-face {
    font-family: 'Sloop';
    src: url('fonts/sloop_script_regular-webfont.woff2') format('woff2'),
        url('fonts/sloop_script_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.arapey-regular {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
}

.arapey-regular-italic {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.title-font {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
}

.slogan-font {
    font-family: "Sloop", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}




/* HEADER STYLES */

header {
    top: 0;
    left: 0;
    margin: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #fff;
    color: #000;
    padding: 5px 0;
    align-items: center;
    display: flex;
    transition: transform 0.3s ease, background-color 0.3s ease-in;
}

header h1 {
    margin: 10px;
    margin-left: 1em;
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}

nav {
    margin-left: auto;
    margin-right: 1em;
}

nav ul {
    margin: 0px;
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #707070;
    transition: color 0.3s ease-in;
    text-decoration: none;
}

nav ul li a:hover {
    color: #000000;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: 1em;
}

@media (max-width: 550px) {
    nav ul {
        display: flex;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    nav ul.active {
        max-height: 300px;
        opacity: 1;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    #menu-toggle {
        display: block;
    }
}


/* BANNER STYLES */

.banner-section {
    margin: 0;
    margin-top: 50px;
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 80vh;
    object-fit: cover;
}

.banner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.banner-overlay .overlay-title {
    font-size: 3.5rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.overlay-description {
    font-size: 1.8rem;
    font-weight: 300;
    margin: auto;
    margin-bottom: 25px;
}

.banner-overlay a {
    padding: 10px 50px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.banner-overlay a:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .banner-overlay .overlay-title {
        font-size: 2.5rem;
    }

    .overlay-description {
        font-size: 1.4rem;
    }

    .banner-overlay a {
        padding: 10px 30px;
    }
}

@media (max-width: 480px) {
    .banner-overlay .overlay-title {
        font-size: 2rem;
    }

    .overlay-description {
        font-size: 1.2rem;
    }

    .banner-overlay a {
        padding: 8px 20px;
    }
}


/* CURRENT STYLES */

.current-section {
    margin-bottom: 75px;
    padding-top: 65px;
}

.section-head {
    padding: 0 15px;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-head h2 {
    font-size: 2rem;
    text-decoration: underline;
    margin: 0;
}

.section-head p {
    font-size: 2rem;
    margin: 5px 0 0 0;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
}

.product-item {
    background-color: #eee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 300px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-text {
    font-size: 1.1rem;
    margin: 5px;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px;
    color: #333;
}

.purchase-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.purchase-button:hover {
    background-color: #ffffff00;
    color: #000;
    border: 2px solid #000;
}

@media (max-width: 768px) {
    .section-head h2 {
        font-size: 1.75rem;
    }

    .section-head p {
        font-size: 1.5rem;
    }
    .product-item {
        width: calc(50% - 20px);
    }

    .product-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-image {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .product-details {
        max-width: 90%;
    }
}

@media (max-width: 550px) {
    .section-head h2 {
        font-size: 1.5rem;
    }

    .section-head p {
        font-size: 1.2rem;
    }
    .product-item {
        width: calc(100% - 20px);
    }
}

/* DESCRIPTION STYLES */

.description-section {
    width: 100%;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 3.5vw;
    box-sizing: border-box;
}

.description-text {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.description-text h2 {
    font-weight: 800;
    font-size: 3rem;
    max-width: 200px;
    line-height: 3.1rem;
    margin-bottom: 5px;
}

.description-text p {
    font-size: 1rem;
    max-width: 400px;
    margin-top: 5px;
}

.description-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media (max-width: 768px) {
    .description-section {
        flex-direction: column;
    }
}


/* REVIEWS STYLES */

.reviews-section {
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0;
}

.reviews-section h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.reviews-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.reviews-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
    scrollbar-width: none;
}

.reviews-container::-webkit-scrollbar {
    display: none;
}

.review-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    flex-shrink: 0;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.author {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.rating {
    font-size: 1rem;
    color: #888888;
    margin: 0;
}

.gold-star {
    color: #ffde25;
}

.review {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 10px;
}

.scroll-btn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.scroll-btn.left {
    left: 10px;
}

.scroll-btn.right {
    right: 10px;
}


/* UPCOMING STYLES */

.upcoming-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 30px;
    margin: 30px 0;
    background-color: #ccc;
}

.upcoming-text h2,
.upcoming-text p {
    margin: 50px 0;
}

.upcoming-text h2 {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.upcoming-text p {
    font-size: 2rem;
    margin-top: 5px;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .upcoming-text h2 {
        font-size: 4rem;
    }

    .upcoming-text p {
        font-size: 1.8rem;
    }
}

@media (min-width: 1025px) {
    .upcoming-text h2 {
        font-size: 5rem;
    }

    .upcoming-text p {
        font-size: 2rem;
    }
}

@media (max-width: 599px) {
    .upcoming-text h2 {
        font-size: 2.5rem;
    }

    .upcoming-text p {
        font-size: 1.2rem;
    }
}


/* POPUP STYLES */

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #000000;
}

.popup-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.popup-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 2px solid #000;
    transition: background-color 0.3s ease;
}

.popup-button img {
    max-height: 3em;
}

.popup-button:hover {
    background-color: #000;
}

@media (max-width: 768px) {
    .popup-content {
        width: 90%;
    }
}



footer {
    left: 0;
    position: relative;
    border: 0;
    padding: 2vh 3vw;
    padding-bottom: 10px;
    background-color: #dadada;
}

footer h2 {
    font-size: 3rem;
}

footer p {
    margin: 0;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 20px;
    width: 100%;
}

.nav-links,
.social-links,
.contact-links {
    text-align: left;
    margin-bottom: 20px;
}

.nav-title,
.social-title,
.contact-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px;
}

.contact-title {
    max-width: 150px;
}

.link-item {
    margin: 5px;
    font-size: 1rem;
    color: #3a3a3a;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link-item:hover {
    color: #000000;
}

.footer-copyright {
    text-align: center;
    color: #3a3a3a;
    font-size: 0.7rem;
}

@media (max-width: 550px) {
    .footer-links {
        flex-direction: column;
        gap: 0;
        margin-bottom: 0;
    }

    .nav-links,
    .social-links,
    .contact-links {
        margin-bottom: 15px; /* Add spacing between sections */
    }
}

.no-scroll {
    overflow: hidden;
}