::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(91, 196, 102);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #000000d0;
    border-radius: 10px;
}

@font-face {
    font-family: 'Sloop';
    src: url('fonts/sloop_script_regular-webfont.woff2') format('woff2'),
         url('fonts/sloop_script_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.arapey-regular {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
}

.arapey-regular-italic {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: italic;
}

.title-font {
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
}

.slogan-font {
    font-family: "Sloop", Arial ,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.3em;
    text-align: center;
    text-decoration: underline;
    margin: 5px;
}

.subhead-font {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 10px;
}

.text-font {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
}


header {
    background-color: #000;
    color: #fff;
    padding: 5px;
    margin: 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.5s ease-in;
}

header h1 {
    margin: 5px;
    font-size: 2rem;
}


header p {
    margin: 5px;
    font-size: 1.5em;
}

.banner-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.current-section {
    margin-top: 75px;
    margin-bottom: 75px;
}

.image-container {
    position: relative;
    width: 100%;
    /*max-width: 600px;*/
    margin: 50px auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 80vh;
    object-fit: cover;
}


.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}



.product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    border: 3px solid #000;
}

.product-image {
    max-width: 40%;
    height: auto;
}

.product-details {
    max-width: 55%;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.product-availability {
    color: red;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.product-text {
    font-size: 1.3em;
    margin: 10px 0;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.purchase-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.purchase-button:hover {
    background-color: #fff;
    color: #000000;
}


/* Popup Overlay */
.popup-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Popup Content */
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: relative;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #000000;
}

.popup-text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.popup-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.popup-button img {
    max-height: 3em;
}

.popup-button:hover {
    background-color: #000;
}


.upcoming-container {
    position: relative;
    overflow: hidden;
}

.upcoming-container img {
    height: auto;
    max-width: 40%;
    pointer-events: none;
    user-select: none;
}

.product-container img.darkened {
    filter: brightness(50%);
}

.upcoming-details{
    pointer-events: none;
    user-select: none;
}

.upcoming-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.overlay-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    z-index: 3;
    text-align: center;
}

.overlay-text p {
    margin: 3px;
}

.timer {
    font-size: 0.7em;
}

/* Responsive Behavior */
@media (min-width: 769px) {
    .cards-container {
        overflow-x: hidden;
        justify-content: center;
        white-space: normal;
    }
    .card {
        flex: 1;
    }
}

/* Responsive Design for Popup */
@media (max-width: 768px) {
    .popup-content {
        width: 90%;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-image {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .product-details {
        max-width: 90%;
    }
}


.no-scroll {
    overflow: hidden;
}